.footer {
    background-color: blue;
    padding: 1rem;
    > p {
        font: 1rem monospace, sans-serif;
        text-align: center;
    }
    > p > a {
        color: white;
        text-decoration: underline;
    }
    > p > a:hover {
        text-decoration: none;
    }
    > p > a:visited {
        color: white;
    }
}