<style lang="scss">
    @import url('../styles/footer.scss');
</style>
<div class="footer">
    <p> This is a free and open source website licensed with GPLv3. Click for the
        <a style="text-decoration: underline;"
            href="https://www.github.com/joshee2004/portfolio"
            target="_blank">source.</a>
        Created using Astro. Hosted on Vercel
    </p>
</div>