<style lang="scss">
    @import url('../styles/header.scss');
</style>
<script src="../scripts/activeLink.js"></script>
<div class="header">
    <div class="headerTitle">
        <p>Joshua Royar</p>
    </div>
    <div class="headerLinks-left">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="headerLinks-right">
        <a
            href="https://www.linkedin.com/in/joshee2004" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a
            href="https://www.twitter.com/joshee2004" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a
            href="https://www.github.com/joshee2004" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a
            href="https://www.youtube.com/c/Firetech2004" target="_blank">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a
            href="https://www.dsc.gg/Firetech" target="_blank">
            <i class="fa-brands fa-discord"></i>
        </a>
    </div>
</div>